@using ShopAdoWeb.Models
@model IEnumerable<Good>
@{
    Layout = null;
    var ajaxOption = new AjaxOptions
    {
        UpdateTargetId = "goodTabel"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='@Url.Content("~/Content/MyCss.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/bootstrap.min.css")' rel="stylesheet" type="text/css" />
    
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
    <title>ShowGoods</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Count</th>
                <th>Manufacturer</th>
                <th>Category</th>
            </tr>
        </thead>

        <tbody id="goodTable">
            @{ 
                Html.RenderAction("GoodTable", new { id = 1 });
            }
        </tbody>
    </table>
    <a id="MainContent_ctl00_SomeLinkButton"
       class="btn btn-danger btn-sm"
       href="/Category/ShowCategory">Categories</a>
    <a id="MainContent_ctl00_SomeLinkButton"
       class="btn btn-warning btn-sm"
       href="/Manufacturer/ShowManufacturer">Manufacturers</a>

    <div class="mt-2 paging-container">
        <button class="btn btn-lg btn-info mr-1" id="decr"><</button>
        <div class="pageNumber mr-1 pt-n3" id="curPageNumber"></div>
        <button class="btn btn-lg btn-info mr-1" id="inc" data-pageCount=@ViewBag.PageCount>></button>
    </div>

    
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MyScripts/UpdateGoodTable.js"></script>
</body>
</html>
