
.paging-container {
    display: flex;
    vertical-align: central
}

.table {
    height: 450px
}

.pageNumber {
    height: 50px;
    width: 50px;
    background-color: cadetblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px
}

.show-warning-message{
    color: red;
}
.hide-warning-message {
    display: none
}
.warning-border {
    box-shadow: 0 0 5px rgb(255, 0, 0);
}
