.paging-container{
    display: flex;
    vertical-align: central
}
.table{
    height: 450px
}
.pageNumber {
    height: 50px;
    width: 50px;
    background-color: cadetblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px
}
